<app-navbar (mostrarSidebar)="mostrarSidebar($event)"></app-navbar>

<div class="contenedor">

  <div class="contenido">

    <h2>Bienvenido</h2>

    <div class="bienvenida">
      <img [src]="fotoHome" alt="foto-home">

      <p>
      Bienvenido a tu sistema de gestión de inventario, aqui encontraras todo lo necesario donde puedes tener un control de tus productos para tu ferreteria Electrosoluciones.
      <br>
      <br>
      para realizar tus operaciones solo necesitas iniciar sesión, es un placer ser parte de tu solución.
      </p>

    </div>


  </div>

</div>
