*{
  margin: 0;
  padding: 0;
}
.navegación{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 2rem;
  border-bottom: 0.1rem solid #FF8C5C;
}
img {
  height: 90px;

}
.fotoUsuario{
 padding: 0 2rem;
 width: 30px;
 height: 30px;
}
a{
  text-decoration: none;
  color: #FF8C5C;
  font-weight: bold;
}
.Menu-hamb{
  width: 40px;
  height: 30px;
}
.btn-menu{
  border:none;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #FFFFFF;
}
.correo-foto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.salida-applicacion{
  color: black;
  background-color: white;
  border: none;
}

.img {
  padding: 1rem;
}
